body {

    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../Images/fon.jpg);
    background-position: center;
    background-attachment: fixed;
    /* Фон страницы фиксируется */
    background-repeat: repeat-x;

}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {

    background-color: transparent;

}

body::-webkit-scrollbar-thumb {
    background-color: #48006c;
}

header {

    position: sticky;
    z-index: 10;
    width: 100%;
    background-color: rgb(4, 0, 27);
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    box-shadow: 0 0 15px 5px rgb(20, 9, 81);

}

footer {

    background-color: rgb(4, 0, 27);
    box-shadow: 0 0 15px 5px rgb(20, 9, 81);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 150px;
    z-index: 10;

    color: aliceblue;

    display: flex;
    justify-content: space-around;


}

footer div {

    border-left: 2px solid aliceblue;
    margin: 15px;
    width: 30%;
    text-align: left;
    padding: 0px 15px;

}

header img {

    align-items: center;
    padding: 15px;

}

header nav {


    padding: 15px;
    display: flex;
    justify-content: space-around;

}

.btn_a {

    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    padding: 7px 8px;
    border: 0px solid aliceblue;
    border-radius: 15px;
    position: relative;

}

.btn_a::before {

    position: absolute;
    content: '';
    width: 100%;
    background-color: rgb(115, 57, 173);
    box-shadow: 0 0 5px 5px rebeccapurple;
    height: 1px;
    left: 0;
    bottom: 0;
    border-radius: 15px;

    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.btn_a:hover::before {

    transform-origin: left;
    transform: scaleX(1);

}

.btn_a::after {

    position: absolute;
    content: '';
    width: 100%;
    background-color: rgb(115, 57, 173);
    box-shadow: 0 0 5px 5px rebeccapurple;
    height: 1px;
    left: 0;
    top: +2px;
    border-radius: 15px;

    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;

}

.btn_a:hover::after {

    transform-origin: right;
    transform: scaleX(1);

}